<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <AutoIncrementApplicationRevision>true</AutoIncrementApplicationRevision>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <CreateWebPageOnPublish>true</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://localhost:5000/downloads/signer/</InstallUrl>
    <IsWebBootstrapper>true</IsWebBootstrapper>
    <MapFileExtensions>true</MapFileExtensions>
    <OpenFolderAfterPublish>false</OpenFolderAfterPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0\publish\winforms_clickonce\</PublishDir>
    <PublishUrl>bin\Release\net8.0\publish\winforms_clickonce\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishSingleFile>false</PublishSingleFile>
    <SelfContained>false</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>false</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0</TargetFramework>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>false</UpdateRequired>
    <WebPageFileName>publish.htm</WebPageFileName>
  </PropertyGroup>
</Project>
